html {
    background-color: #fef9f8;
    border-top: 5px solid #ef9273;
}

body {
    margin-top: px;
    border: 0px;
}

nav {
    float: right;
    background-color: white;
    width: 100%;
    margin: 0px;
}

.nav-item {
    display: inline;
    list-style-type: none;  
    padding: 10px 30px;
}

a[href^="#"] {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

ul {
    padding: 0px;
}
